header{
	background-image: url(images/header.jpg);
	background-size: cover;
	background-position: top;
	background-color: rgba(0, 0, 0, .3);
	height: 500px;
}

body{
	text-align: center;
}

#pagetitle{
	max-width: 780px;
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: normal;
	color: white;
	text-align: center;
    position: relative;
    top: 230px;
    margin: 0 auto;
}

#vrk{
	display: block;
	margin: -50px auto;
	width: 100px;
	border-radius: 100%;
	border: 1px white;
}

#profile_text{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: rgb(51, 51, 51);
	margin: 50px;

}

#profile_text span{
	font-style: italic;
}

hr{
   height: 2px;
   width: 20%;
   color: #e6e6e6;
}

.a #number{
	border: 40px;
	color: rgba(0, 0, 0, 0.25);
}

.a span{
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: bold;
	color: rgb(51, 51, 51);
	margin: auto 20px;
}

.a p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 32px;
	color: rgb(51, 51, 51);
	margin: 0 100px;
}

.a #recommendation{
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}

.a a{
	color: #42b4d6;
	text-decoration: none;
	margin: 0 100px;
}

.a img{
	width: 66.67%;
	margin:20px 0 120px 40px;
}
